
.header {
	color: var(--headercol);
}

#review, #references {
	color: var(--textcol);
}

#references ul {
	list-style-type: square;
}

#references ul li a {
	text-decoration: none;
	font-weight: bold;
	color: var(--secondaryblue);
}